* {
  scroll-margin-top: 50px;
}
.headers {
  font-size: 150px;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
  /* width: min-content; */
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .headers {
    font-size: 60px;
  }
}
