.header {
  font-size: 150px;
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
  width: min-content;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
