#contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-logos-container {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.contact-logos {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .contact-logos {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
  }
}
