.project-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-details-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  flex: 1.2;
  gap: 30px;
  justify-content: space-between;
}
.product-visuals-container {
  border: 1px solid red;
  flex: 2;
}
.detail-tags {
  font-weight: 600;
  font-size: 40px;
}
.details-labels {
  margin-left: 50px;
  font-size: 30px;
}

.details-tech-list {
  margin-left: 68px;
  width: 100%;
  font-size: 25px;
}
.details-tech-list li {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 400px;
}
.details-tech-list img {
  height: 60px;
  /* width: 80px; */
}
.details-tech-list span {
  width: 400px;
  font-weight: 500;
  font-size: 27px;
}

.project-desc p {
  margin: 30px 0px 0px 100px;
  width: 400px;
  font-size: 25px;
}

.details-button-container div {
  display: flex;
  gap: 20px;
}
.details-button-container h1 {
  margin: 20px 0px 30px 0px !important;
}
.details-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-visuals-top-sc {
  display: flex;
  width: 100%;
  gap: 20px;
}
.project-visuals-bot-sc {
  display: flex;
  justify-content: center;
}
.project-visuals-iphone {
  height: 700px !important;
}
.desktop-pic-1 {
}
.test1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
